body {
	font-family: "PT sans", "Open sans", "Segoe UI", "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-image: url(/images/congruent_pentagon.png);
	background-image: url(/images/diamond_upholstery.png);
	background-image: url(/images/gplaypattern2.png);
}
.left {float: left;}
.right {float: right;}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*-------*/
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

/*BEGIN header*/
header {
	height: 100px;
	border-bottom: 2px solid #B6B6B6;
	border-bottom: 2px solid #795548;
}
.logo {
	margin-left: 10px;
	line-height: 100px;
	font-family: "Segoe UI";
	font-size: 24px;
	font-weight: bold;
}
	.painted {
		color: #0288D1;
	}
.contact-info {
	margin-top: 28px;
	margin-right: 20px;
}
.contact-info a {
	text-decoration: none;
	color: #000;
}
.contact-info span {
	display: inline-block;
	padding: 10px;
	padding-left: 40px;
	font-size: 18px;
}
	.phone-number {
		border-right: 1px solid #B6B6B6;
		background: url(images/phone-call-32.png) 0 center no-repeat;
	}
	.address {
		background: url(images/pointer-32.png) 0 center no-repeat;
	}

/*END HEADER*/

/*BEGIN NAV*/
nav {
	height: 100px;
	background-color: #03A9F4;
	text-transform: uppercase;
	overflow: auto;
}
nav ul {
	margin: 0;
	padding: 35px 0 0 0;
	text-align: center;
}
nav li {
	display: inline-block;
	margin: 0 20px;
	list-style: none;
	text-decoration: none;
	color: #fff;

}
.nav-button, .nav-button:visited {
	padding: 10px 15px;
	color: #fff;
	outline: none;
	text-decoration: none;
	border: 1px solid #795548;
	/*border: 1px solid #fff;*/
	/*border: 1px solid #B6B6B6;*/
	border-radius: 10px;
	font-weight: bold;
	transition: background-color .2s .1s, box-shadow .3s;
}
.nav-button:hover {
	background-color: #0288D1;
	box-shadow: 0 7px 10px 0px rgba(0,0,0, 0.2);

}
.active-button {
	background-color: #0288D1;
}
/*END NAV*/

/*BEGIN slider*/
.slider ul {
	margin: 0; 
}
/*END slider*/

/*BEGIN section*/
h1 {
	margin-bottom: 0;
	text-align: center;
}

/*title used on contact page*/
.title {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
.title:first-of-type {
	margin-top: 0;
}
.contacts-text {
	padding-left: 30px;
	line-height: 85%;
}



.steps {
	text-align: center;
	margin-top: 20px;
}
.steps p {
	margin-bottom: 30px;
	font-size: 18px;
}
.step {
	width: 200px; height: 200px;
	display: inline-block;
	margin: 0 50px;
	border: 2px solid #795548;
	border-radius: 50%;
	text-align: center;
	line-height: 200px;
	font-size: 16px;
	text-transform: uppercase;
}
.step span {
	display: inline-block;
	margin-top: 57px;
}
.step1 {
	background: url("images/step-1.png") 36px 5px no-repeat; 
}
.step2 {
	background: url("images/step-2.png") 40px 10px no-repeat; 
}
.step3 {
	background: url("images/step-3.png") 36px 5px no-repeat; 
}
/*END section*/
.map {
	padding-top: 50px;
}
#map-canvas {
	width: 100%;
	height: 500px;
	margin: 0;
}

footer {
	height: 80px;
	border-top: 2px solid #795548;
	overflow: auto;
	background-color: #03A9F4;
	text-align: center;
	color: #fff;
}
footer p {
	margin-top: 21px;
}
footer a {
	color: #fff;
	/*text-decoration: none;*/
}